#myVideo {
  height: 100%;
  width: 100%;
}

body {
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: none;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 70%;
  position: fixed;
  z-index: 10;
}   
