body {
  font-family: 'Space Grotesk', sans-serif;
  background-image: url("InsideSpaceShip'.png");
  background-size: cover;
  background-position: center, absolute;
  background-repeat: no-repeat;
  font-size: 35px;
  margin-left: 30px;
  padding: 0 40px 0 40px;
}
p{
  color: white;
}

  button {
    font-family: 'Space Grotesk', sans-serif;
    border: 1px;
    border-radius: 15px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-left: 30px;
    cursor: pointer;
  }

.Yes{
  background-color: green;
  color: white;
}

.No{
  background-color: red;
}
